/* Universal Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

body {
  padding: 20px;
  background-color: #F7F7F7;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-weight: 400;
  font-size: 26px;
  padding: 10px 0px;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;

}

a {
  color: #313131;
  text
}

section {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  padding: 20px;
  border-radius: 20px;
  align-items: center;
  background-color: #FFF;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
  font-family: 'Montserrat', sans-serif;
}

section h2 {
  font-weight: 400;
}

.blockElementsRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.blockElementsCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

ul {
  list-style-type: square;
}

/* Colours Section Styles */

.colours .colourBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 250px;
  margin: 10px;
  font-weight: 500;
}

#LIFOffWhite {
  background-color: #f3f3f3;
}

#LIFBlue {
  background-color: #1993cd;
}

#LIFGrey {
  background-color: #313131;
  color: #f1f1f1;
}

#LIFOrange {
  background-color: #F6412A;
}

/* Font Section Styles */

.fontBlock {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#roboto h3, p {
  font-family: 'Roboto', sans-serif;
  padding: 5px 0px;
}

#montserrat h3, p {
  font-family: 'Montserrat', sans-serif;
}

#robotoReg {
  font-family: 'Roboto', sans-serif;
}

#robotoBold {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

#robotoItalic {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

#montserratReg {
  font-family: 'Montserrat', sans-serif;
}

#montserratBold {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#montserratItalic {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

#sairaReg {
  font-family: 'Saira', sans-serif;
}

#sairaBold {
  font-family: 'Saira', sans-serif;
  font-weight: bold;
}

#sairaItalic {
  font-family: 'Saira', sans-serif;
  font-style: italic;
}

/* Text Style Section Styles */


.textStyleBlock > * {
  padding: 10px;
}